.container {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  padding: 0px 20px 20px 20px;
}

.main{
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  width: 645px;
  min-height: 500px;
  padding: 0 10px 10px 10px;
  border-radius: 10px;
}

.side_bar{
  position: relative;
  top: 0;
  right: 45px;
  float: right;
  padding: 20px 0;
  border-radius: 10px;
  min-height: 400px;
  width: 220px;
  text-align: center;
  background: #88E1FF;
}

.side_bar p{
  font-size: 30px;
  margin: 0 0 15px 0;
}

.side_bar a{
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.stack_icons{
  height: 80px;
}

.technologies td{
  margin: 0 20px;
  text-align: center;
  width: 160px;
}

.technologies td#rspec{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background: black;
  margin: 0 auto;
}

.header{
  position: absolute;
  background: #6DB4CC;
  top: 0;
  height: 272px;
  width: 100%;
}

.fullname li{
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 140px;
  font-weight: bolder;
  color: #fff;
  list-style: none;
  top: 0;
  display: table-cell;
  line-height: 100px;
}

.innerhead{
  width: 940px;
  padding-left: 10px;
  margin: 0 auto;
}

.fullname ul{
  padding: 0;
}

.menu_bar {
  position: relative;
  top: 20px;
  left: 457px;
}

.innerhead ul{
  padding: 0;
}

.menu_bar ul li{
  min-width: 65px;
  margin: 0 6px;
  padding: 2px 3px 0 3px;
  background: #6DB4CC;
  list-style: none;
  display: inline;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menu_bar ul li a{
  text-decoration: none;
  color: white;
}
