.container {
  margin-top: 320px;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  padding: 0px 20px 20px 20px;
}

.container a{
  text-decoration: none;
  color: black;
}

.header{
  position: absolute;
  background:url('/images/header_bluepaper.png') repeat-x;
  top: 0;
  height: 272px;
  width: 100%;
}

.fullname li{
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 140px;
  font-weight: bolder;
  color: #fff;
  list-style: none;
  top: 0;
  display: table-cell;
  line-height: 100px;
}

.fullname ul{
  padding: 0;
}

.innerhead{
  width: 940px;
  padding-left: 10px;
  margin: 0 auto;
}

.innerhead ul{
  padding: 0;
}

.menu_bar {
  position: relative;
  top: 28px;
  right: 283px;
}

.menu_bar ul{
  text-align: right;
}

.menu_bar ul li{
  min-width: 85px;
  margin: 0 6px;
  padding: 10px 25px;
  background:url('/images/header_bluepaper.png');
  background-attachment: fixed;
  background-position: top left;
  list-style: none;
  display: inline;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu_bar ul li a{
  text-decoration: none;
  color: white;
}

.main{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  width: 645px;
  min-height: 500px;
  padding: 0 10px 10px 10px;
  border-radius: 10px;
}

.side_bar{
  position: relative;
  top: 0;
  right: 45px;
  float: right;
  padding: 20px 0;
  border-radius: 10px;
  min-height: 400px;
  width: 180px;
  text-align: center;
  border: 5px solid #88E1FF;
  /*background: #88E1FF*/
  background:url('/images/sidebar_bluepaper.png');
}

.side_bar p{
  font-size: 30px;
  margin: 0 0 15px 0;
}

.side_bar a{
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.work_example{
  margin-bottom: 25px;
}

.work_example img{
  float: left;
  margin-right: 15px;
}

.work_example #example{
  height: 200px;
}

.stack_icons{
  height: 80px;
}

.technologies td{
  margin: 0 20px;
  text-align: center;
  width: 160px;
}

.technologies td#rspec{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background: black;
  margin: 0 auto;
}

.footer{
  width: 645px;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  margin-top: 60px;
  border-top: 2px solid black;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}
