.letter_ft
  Letter "T"!!!

.letter_fr
  Letter "R"!!!

.letter_fa
  Letter "A"!!!

.letter_fv
  Letter "V"!!!

.letter_fi
  Letter "I"!!!

.letter_fs
  Letter "S"!!!

.letter_ll
  Letter "L"!!!

.letter_la
  Letter "A"!!!

.letter_lw
  Letter "W"!!!

.letter_lr
  Letter "R"!!!

.letter_le
  The First "E"!!!

.letter_ln
  Letter "N"!!!

.letter_lc
  Letter "C"!!!

.letter_l2e
  The Last "E"!!!!
