.letter_ft
  %table
    %tbody
      - @letter_data.each_slice(3) do |tweet|
        %tr
          - tweet.each do |cnt|
            %td
              .twitter_posts
                %p.tweet_text= cnt.text
                %p.tweet_loc
                  From:
                  = cnt.user.location
                %p.tweet_time
                  Sent:
                  = cnt.created_at.strftime("%b, %d %Y at %l:%M %P")
