.letter_ft
  T is for Twitter!
  - @tweets.each do |tweet|
    %p= tweet.text

.letter_fr
  Letter "r"!!!

.letter_fa
  Letter "a"!!!

.letter_fv
  Letter "v"!!!

.letter_fi
  Letter "i"!!!

.letter_fs
  Letter "s"!!!

.letter_ll
  Letter "l"!!!

.letter_la
  Letter "a"!!!

.letter_lw
  Letter "w"!!!

.letter_lr
  Letter "r"!!!

.letter_le
  The First "e"!!!

.letter_ln
  Letter "n"!!!

.letter_lc
  Letter "c"!!!

.letter_l2e
  The Last "e"!!!!
