.header
  .innerhead
    .fullname
      %ul
        %li< T
        %li< r
        %li< a
        %li< v
        %li< i
        %li< s
      %ul
        %li< L
        %li< a
        %li< w
        %li< r
        %li< e
        %li< n
        %li< c
        %li< e

    .menu_bar
      %ul
        %li
          %a.href{href:'/'}Menu
        %li
          %a.href{href:'/'}About
        %li
          %a.href{href:'/'}Hire Me
