.header
  .firstname
    %ul
      %li< T
      %li< r
      %li< a
      %li< v
      %li< i
      %li< s
  .lastname
    %ul
      %li< L
      %li< a
      %li< w
      %li< r
      %li< e
      %li< n
      %li< c
      %li< e

.home_link
  %a.href{href:'/'} Home
