.side_bar
  %a{href:'http://www.github.com/travisl12', target: 'new'}
    %img.media_icon{src: "/images/media_icons/github.png"}
  %p
  %a{href:'http://www.linkedin.com/in/travislawrence12', target: 'new'}
    %img.media_icon{src: "/images/media_icons/linkedin.png"}
  %p
  %a{href:'https://www.facebook.com/TravisLawrence12', target: 'new'}
    %img.media_icon{src: "/images/media_icons/facebook.png"}
  %p
  %a{href: "https://www.twitter.com/travisl12", target: 'new'}
    %img.media_icon{src: "/images/media_icons/twitter.png"}
  %p
  %a{href:'mailto:travis.lawrence12_AT_gmail.com'}
    %img.media_icon{src: "/images/media_icons/email.png"}

.main<
  My name is Travis and I am a Ruby on Rails developer from San Francisco, CA. For several years I have tinkered with different computer hobbyist things, and only recently I decided to get more serious about web development. I joined and completed the Dev Bootcamp here in SF and since then have been continuing to design and code small projects.
