= haml :side_bar

.main<
  My name is Travis and I am a Ruby on Rails developer from San Francisco, CA. For several years I have tinkered with different computer hobbyist things, and only recently I decided to get more serious about web development.
  %p< I joined and completed the Dev Bootcamp in San Francisco in June 2013 and since then have been continuing to design and code small projects. Prior to getting into web development I was an Acoustic Consultant for 6 years. It was a good time to learn how to be a good consultant and understand how to effectively work within small teams and directly with clients.
  %p< Feel free to click the letters of my name for small demos of technologies I like and am familiar with.

  %h2< My Work

  %a{href: "http://www.bountycove.herokuapp.com", target: 'new'}
    %img{title: 'Ruby', src: "/images/bounty_cove.png"}
      %h4 Bounty Cove
  The final week of Dev Bootcamp involves creating a team of 3 or 4 people and building a full web site to present on your final day. Bounty Cove was the result of six-days of madness built with my team at Dev Bootcamp. Bounty Cove is a fun and interactive way for parents to make chores fun for kids through the use of a pirate theme.

  %a{href: "http://www.finance-overview.herokuapp.com", target: 'new'}
    %h4 Finance Overview
  Prior to go going full on Ruby dev, I was an Excel fanatic. I had spreadsheets for everything (and maybe I still do!). But one of the spreadsheets I was most obsessed with was a personal finance tracker that I used to very carefully keep an eye on all my money! This small website is my approach towards porting that finance spreadsheet over to Rails. Although there isn't much built there yet I would love to share a guest account for anyone interested. Email me about it.

  %h2 My Stack
  = haml :mystack

.footer
  %p Travis Lawrence 2013
