= haml :side_bar

.main<
  %h1 A Quick Introduction
  %p My name is Travis and I am a Ruby on Rails developer from San Francisco, CA. For several years I have tinkered with different computer hobbyist things, and only recently I decided to get more serious about web development.
  %p I joined and completed the Dev Bootcamp here in SF and since then have been continuing to design and code small projects.

  %h1 My Stack
  .technologies
    %table
      %tr
        %td
          %a{href: "http://www.ruby-lang.org", target: 'new'}
            %img.stack_icons{title: 'Ruby', src: "/images/stack_images/ruby.png"}
        %td
          %a{href: "http://www.rubyonrails.org", target: 'new'}
            %img.stack_icons{title: 'Ruby on Rails', src: "/images/stack_images/rails.png"}
        %td
          %a{href: "http://www.sinatrarb.com", target: 'new'}
            %img.stack_icons{title: 'Sinatra Framework', src: "/images/stack_images/sinatra_logo2.png"}
        %td
          %img.stack_icons{title: 'HTML 5', src: "/images/stack_images/html5_logo.png"}
      %tr
        %td
          %img.stack_icons{title: 'CSS 3', src: "/images/stack_images/css3_logo.png"}
        %td
          %a{href: "http://www.haml.info", target: 'new'}
            %img.stack_icons{title: 'HAML Markup', src: "/images/stack_images/haml.jpg"}
        %td
          %a{href: "http://www.jquery.com", target: 'new'}
            %img.stack_icons{title: 'jQuery/JavaScript', src: "/images/stack_images/js_jquery_logo.png"}
        %td#rspec
          %a{href: "http://www.rspec.info", target: 'new'}RSpec Testing

  %h1 My Work
  %p I have worked on the following sites
