My name is Travis and I am a Ruby on Rails developer from San Francisco, CA. For several years I have tinkered with different computer hobbyist things, and only recently I decided to get more serious about web development.

%p< I joined and completed the Dev Bootcamp in San Francisco in June 2013 and since then have been continuing to design and code small projects. Prior to getting into web development I was an Acoustic Consultant for 6 years. I learned what it took to be a successful consultant by understanding how to work effectively in small teams and communicate well with clients.
