%h1 My Stack
.technologies
  %table
    %tr
      %td
        %a{href: "http://www.ruby-lang.org", target: 'new'}
          %img.stack_icons{title: 'Ruby', src: "/images/stack_images/ruby.png"}
      %td
        %a{href: "http://www.rubyonrails.org", target: 'new'}
          %img.stack_icons{title: 'Ruby on Rails', src: "/images/stack_images/rails.png"}
      %td
        %a{href: "http://www.sinatrarb.com", target: 'new'}
          %img.stack_icons{title: 'Sinatra Framework', src: "/images/stack_images/sinatra_logo2.png"}
      %td
        %img.stack_icons{title: 'HTML 5', src: "/images/stack_images/html5_logo.png"}
    %tr
      %td
        %img.stack_icons{title: 'CSS 3', src: "/images/stack_images/css3_logo.png"}
      %td
        %a{href: "http://www.haml.info", target: 'new'}
          %img.stack_icons{title: 'HAML Markup', src: "/images/stack_images/haml.jpg"}
      %td
        %a{href: "http://www.jquery.com", target: 'new'}
          %img.stack_icons{title: 'jQuery/JavaScript', src: "/images/stack_images/js_jquery_logo.png"}
      %td#rspec
        %a{href: "http://www.rspec.info", target: 'new'}RSpec Testing
