.work_example
  %a{href: "http://www.bountycove.herokuapp.com", target: 'new'}
    %img{title: 'Bounty Cove', src: "/images/bounty_cove.png"}
    %h4 Bounty Cove
  The final week of Dev Bootcamp involves creating a team of 3 or 4 people and building a full web site to present on your final day. Bounty Cove was the result of six-days of madness built with my team at Dev Bootcamp. Bounty Cove is a fun and interactive way for parents to make chores fun for kids through the use of a pirate theme.
  %br
  %br
  %a{href: "http://www.finance-overview.herokuapp.com", target: 'new'}
    %img{title: 'Finance Overview', src: "/images/finance_overview.png"}
    %h4 Finance Overview
  Prior to go going full on Ruby dev, I was an Excel fanatic. I had spreadsheets for everything. The spreadsheet I was most obsessed with was a personal finance tracker I used to keep an eye my money! This site my port of that finance spreadsheet over to Rails. I would love to share a guest account for anyone interested. Email me about it.
