.work_example
  #example
    %a{href: "http://bountycove.herokuapp.com", target: 'new'}
      %img{title: 'Bounty Cove', src: "/images/bounty_cove.png"}
    %h4 Bounty Cove
    %p The final week of Dev Bootcamp involves creating a team of 3 or 4 people and building a full web site to present on your final day. Bounty Cove was the result of six-days of madness built with my team at Dev Bootcamp. Bounty Cove is a fun and interactive way for parents to make chores fun for kids through the use of a pirate theme.

  #example
    %a{href: "http://finance-overview.herokuapp.com", target: 'new'}
      %img{title: 'Finance Overview', src: "/images/finance_overview.png"}
    %h4 Finance Overview
    %p Prior to going full on Ruby dev, I was an Excel fanatic. I had spreadsheets for everything. The spreadsheet I was most obsessed with was a personal finance tracker I used to keep an eye on my money! This site is my port of that finance spreadsheet over to Rails. I would love to share a guest account for anyone interested. Email me about it.

  #example
    %a{href: "http://itunes-parse.herokuapp.com", target: 'new'}
      %img{title: 'iTunes Parse', src: "/images/itunes_logo_orig.png"}
    %h4 iTunes Parse
    %p I am an avid data parser and music listener. These two things together mean that there is data somewhere to be analyzed. I devised a way to parse up the iTunes Library XML file in everyone's iTunes folder and made a few algorithm's to determine some simple stats of their listening habits. Currently Heroku isn't too happy with large XML files (that I just discovered) but I was excited to share this site anyway.
