.side_bar
  %a{href:'http://www.github.com/travisl12', target: 'new'}
    %img.media_icon{src: "/images/media_icons/github.png"}
  %p
  %a{href:'http://www.linkedin.com/in/travislawrence12', target: 'new'}
    %img.media_icon{src: "/images/media_icons/linkedin.png"}
  %p
  %a{href:'https://www.facebook.com/TravisLawrence12', target: 'new'}
    %img.media_icon{src: "/images/media_icons/facebook.png"}
  %p
  %a{href: "https://www.twitter.com/travisl12", target: 'new'}
    %img.media_icon{src: "/images/media_icons/twitter.png"}
  %p
  %a{href:'mailto:travis.lawrence12@gmail.com'}
    %img.media_icon{src: "/images/media_icons/email.png"}
